header
    margin-bottom: 50px
    h1
        display: flex
        justify-content: center
        margin: 50px
        font-size: 60px
    nav
        display: flex
        justify-content: center
        align-items: center
        a
            margin: 0px 20px
            color: #383737
        button
            border: none
            padding: 8px
            background-color: #6C757D
            color: #FFFFFF