#sect3
    display: flex
    flex-direction: column
    align-items: center
    h3
        font-size: 40px
        margin: 50px 0
    .rProductsMain
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 70%
        .rProducts
            display: flex
            flex-direction: column
            align-items: center
            .nomProduit
                font-size: 20px
                margin: 15px 0
                font-weight: bold
            .prixProduit
                font-size: 18px
                color: #DD4545
                font-weight: bold
                margin-bottom: 35px
            .prixBarre
                font-size: 18px
                color: #908f8f
                text-decoration: line-through
                font-weight: bold
            .sale
                margin-bottom: 35px
            .rProductsAbsol
                position: relative
                overflow: hidden
                img
                    height: 320px
                    transition-duration: 1s
                .spanDaddy
                    position: absolute
                    bottom: 0
                    width: 100%
                    z-index: 10
                    display: flex
                    justify-content: center
                    transition-duration: 1s
                    span
                        background-color: #eb3939
                        opacity: 0
                        color: white
                        display: flex
                        justify-content: center
                        align-items: center
                        height: 0
                        width: 50%
                        overflow: hidden
                        transition-duration: 1s
                        &:nth-of-type(2)
                            background-color: #aaa
            .rProductsAbsol:hover .spanDaddy span 
                opacity: 0.8
                height: 70px
            .rProductsAbsol:hover img
                transform: scale(1.1)
        


@media screen and (max-width: 375px)
    #sect3
        .rProductsMain
            .rProducts
                img
                    height: 200px

@media screen and (min-width: 376px) and (max-width: 768px)
    #sect3
        .rProductsMain
            .rProducts
                img
                    height: 200px